---
layout: default
---

{% for extPost in site.data.extPosts %}
  <article class="post">
    <h1><a href="{{ extPost.url }}">{{ extPost.title }}</a></h1>
    <div class="entry">
      {{ extPost.summary}}
    </div>
    <a href="{{ extPost.url }}" class="read-more">Read More</a>
  </article>
{% endfor %}

{% for post in site.posts reversed %}
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="entry">
        {{ post.content | truncatewords:40}}
      </div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
{% endfor %}
</div>
