---
layout: default
---
<div class="book-cover">
  <a href="https://amzn.com/1484222342">
    <img src="{{ site.baseurl }}/images/beyond-jquery-cover.jpg" height="250">
  </a>
</div>

<div class="posts">
{% for extPost in site.data.extPosts %}
  <article class="post">
    <h1><a href="{{ extPost.url }}">{{ extPost.title }}</a></h1>
    <div class="entry">
      {{ extPost.summary}}
    </div>
    <p>
      <a href="{{ extPost.url }}" class="read-more">Read More</a>
    </p>
  </article>
{% endfor %}

{% for post in site.posts reversed %}
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="entry">
        {{ post.content | truncatewords:40}}
      </div>
      <p>
        <a href="{{ extPost.url }}" class="read-more">Read More</a>
      </p>
    </article>
{% endfor %}
</div>
